<!DOCTYPE html>
<html>
  <head>
    <title>Data Project v2</title>
    
    <!--Scripts-->
    <script type="text/javascript" src="../static/jquery.min.js"></script>

    <!--Styling-->
    <link rel="stylesheet" type="text/css" href="../static/main.css">
    <link rel="stylesheet" type="text/css" href="../static/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open Sans">

 </head>

  <body>
    
    <div class="header">
  
      <h1 class="heading">
	POKEMON STATS
      </h1>
      <ul>
	<li>Sadman Fahmid</li>
	<li>Genji Noguchi</li>
	<li><i class="fa-copyright fa-large"></i></li>
      </ul>
    </div>

    <br><br><br><br><br>
    
    <div class="main">
      <table id="main-table">
	<tr>
	  <td>Number</td>
	  <td>Name</td>
	  <td>Hit Points</td>
	  <td>Attack</td>
	  <td>Defense</td>
	  <td>Sp. Attack</td>
	  <td>Sp. Defense</td>
	  <td>Speed</td>
	</tr>
	<!-- Put the jinja foreach loop here. -->
	<tr>
	  <td>1</td>
	  <td>Bulbasaur</td>
	  <td>45</td>
	  <td>49</td>
	  <td>65</td>
	  <td>65</td>
	  <td>45</td>
	</tr>


      </table>
    </div>
    

  </body>


</html>
