body{
    margin: 0 0;
    font-family: Open Sans;
}

.header
{
    background-color: #FF6666;
    opacity: 0.5;
}
.heading
{
    margin-left: 2em;
    display: inline;
    font-size: 5em;
}
ul
{
    display: inline;
}
ul, li
{
    list-style-type: none;
    float: right;
    margin-right: 50px;
}
.main
{
    width: 30em;
    display: block;
    margin: auto;
}
table
{
    border-collapse:collapse;
    border:1px solid #FF0000;
}